{{- define "backstage-manifest" }}
---
apiVersion: rhdh.redhat.com/v1alpha1
kind: Backstage
metadata:
  name: backstage
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
  annotations:
    "meta.helm.sh/release-name": {{ .Release.Name}}
spec:
  application:
    appConfig:
      configMaps:
        - name: app-config-rhdh
        - name: app-config-rhdh-auth
        - name: app-config-rhdh-catalog
    dynamicPluginsConfigMapName: dynamic-plugins-rhdh
    extraEnvs:
      secrets:
        - name: {{ .Values.rhdhOperator.secretRef.name }}
    replicas: 1
{{- end }}

{{- if .Values.rhdhOperator.enabled }}
  {{- if not .Values.rhdhOperator.secretRef.name }}
    {{- fail "Backstage's secret name defined in 'rhdhOperator.secretRef.name' is required" }}
  {{- end }}
  {{- $secret := lookup "v1" "Secret" .Values.rhdhOperator.subscription.namespace .Values.rhdhOperator.secretRef.name }}
  {{- if not $secret }}
    {{- fail (printf "Secret %s not found in namespace %s" .Values.rhdhOperator.secretRef.name .Values.rhdhOperator.subscription.namespace ) }}
  {{- end }}
  {{ if not .Values.rhdhOperator.secretRef.backstage.backendSecret }}
    {{ fail printf "Backend secret key not defined in secret '%s' for Backstage. Please ensure that the value key 'rhdhOperator.secretRef.backstage.backendSecret' has been populated and the value matches the key in the secret" .Values.rhdhOperator.secretRef.name }}
  {{- end }}
  {{- if not (dig "data" .Values.rhdhOperator.secretRef.backstage.backendSecret "" $secret) }}
    {{ fail (printf "Backend secret key %s not found in secret '%s' for Backstage. Please ensure that the value key 'rhdhOperator.secretRef.backstage.backendSecret' matches the key in the secret: %s" .Values.rhdhOperator.secretRef.backstage.backendSecret .Values.rhdhOperator.secretRef.name ($secret|toPrettyJson) )}}
  {{- end }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: rhdh-operator-group
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
spec: {}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ .Values.rhdhOperator.subscription.name }}
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
spec:
  channel: {{ .Values.rhdhOperator.subscription.channel }}
  installPlanApproval: Automatic
  name: {{ .Values.rhdhOperator.subscription.name }}
  source: {{ .Values.rhdhOperator.subscription.source }}
  sourceNamespace: openshift-marketplace
  {{- if not .Values.rhdhOperator.subscription.startingCSV }}
  startingCSV: {{ .Values.rhdhOperator.subscription.startingCSV }}
  {{- end }}
  {{- if .Values.rhdhPlugins.npmRegistry }}
---
apiVersion: v1
kind: Secret
metadata:
  name: dynamic-plugins-npmrc
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
type: Opaque
stringData:
  .npmrc: |
    registry={{ .Values.rhdhPlugins.npmRegistry }}
  {{- end }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config-rhdh
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
data:
  "app-config-rhdh.yaml": |
    app:
      title: Red Hat Developer Hub
      baseUrl: https://backstage-backstage-{{ .Values.rhdhOperator.subscription.namespace }}.{{ include "cluster.domain" . }}
    backend:
      auth:
        externalAccess:
          - type: static
            options:
              token: {{ printf "${%s}" .Values.rhdhOperator.secretRef.backstage.backendSecret }}
              subject: orchestrator
      baseUrl: https://backstage-backstage-{{ .Values.rhdhOperator.subscription.namespace }}.{{ include "cluster.domain" . }}
      csp:
        script-src: ["'self'", "'unsafe-inline'", "'unsafe-eval'"]
        script-src-elem: ["'self'", "'unsafe-inline'", "'unsafe-eval'"]
        connect-src: ["'self'", 'http:', 'https:', 'data:']
      cors:
        origin: https://backstage-backstage-{{ .Values.rhdhOperator.subscription.namespace }}.{{ include "cluster.domain" . }}
      database:
        client: pg
        connection:
          password: ${POSTGRESQL_ADMIN_PASSWORD}
          user: ${POSTGRES_USER}
          host: ${POSTGRES_HOST}
          port: ${POSTGRES_PORT}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: dynamic-plugins-rhdh
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
data:
  "dynamic-plugins.yaml": |
    includes:
      - dynamic-plugins.default.yaml
    plugins:
  {{- if and (and .Values.rhdhOperator.secretRef.k8s.clusterToken (dig "data" .Values.rhdhOperator.secretRef.k8s.clusterToken "" $secret ) )
             (and .Values.rhdhOperator.secretRef.k8s.clusterUrl   (dig "data" .Values.rhdhOperator.secretRef.k8s.clusterUrl "" $secret ) ) }}
      - package: ./dynamic-plugins/dist/backstage-plugin-kubernetes-backend-dynamic
        disabled: false
        pluginConfig:
          kubernetes:
            customResources:
              - group: 'tekton.dev'
                apiVersion: 'v1'
                plural: 'pipelines'
              - group: 'tekton.dev'
                apiVersion: 'v1'
                plural: 'pipelineruns'
              - group: 'tekton.dev'
                apiVersion: 'v1'
                plural: 'taskruns'
              - group: 'route.openshift.io'
                apiVersion: 'v1'
                plural: 'routes'
            serviceLocatorMethod:
              type: 'multiTenant'
            clusterLocatorMethods:
              - type: 'config'
                clusters:
                  - name: 'OpenShift Orchestrator Demo'
                    url: {{ printf "${%s}" .Values.rhdhOperator.secretRef.k8s.clusterUrl }}
                    authProvider: 'serviceAccount'
                    skipTLSVerify: true
                    serviceAccountToken: {{ printf "${%s}" .Values.rhdhOperator.secretRef.k8s.clusterToken }}
      - package: ./dynamic-plugins/dist/backstage-plugin-kubernetes
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              backstage.plugin-kubernetes:
                mountPoints:
                  - mountPoint: entity.page.kubernetes/cards
                    importName: EntityKubernetesContent
                    config:
                      layout:
                        gridColumn: "1 / -1"
                      if:
                        anyOf:
                          - hasAnnotation: backstage.io/kubernetes-id
                          - hasAnnotation: backstage.io/kubernetes-namespace
    {{- if .Values.tekton.enabled }}
      - package: ./dynamic-plugins/dist/janus-idp-backstage-plugin-tekton
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              janus-idp.backstage-plugin-tekton:
                mountPoints:
                  - mountPoint: entity.page.ci/cards
                    importName: TektonCI
                    config:
                      layout:
                        gridColumn: "1 / -1"
                      if:
                        allOf:
                          - isTektonCIAvailable
    {{- end }}
  {{- end }}
  {{- if and .Values.argocd.enabled
        ( and
            (and (.Values.rhdhOperator.secretRef.argocd.url) (dig "data" .Values.rhdhOperator.secretRef.argocd.url "" $secret ) )
            (and (.Values.rhdhOperator.secretRef.argocd.username) (dig "data" .Values.rhdhOperator.secretRef.argocd.password "" $secret) )
        )
  }}
      - disabled: false
        package: ./dynamic-plugins/dist/roadiehq-backstage-plugin-argo-cd-backend-dynamic
        pluginConfig:
          argocd:
            appLocatorMethods:
            - instances:
              - name: main
                url: {{ printf "${%s}" .Values.rhdhOperator.secretRef.argocd.url }}
                username: {{ printf "${%s}" .Values.rhdhOperator.secretRef.argocd.username }}
                password: {{ printf "${%s}" .Values.rhdhOperator.secretRef.argocd.password }}
              type: config
      - disabled: false
        package: ./dynamic-plugins/dist/roadiehq-backstage-plugin-argo-cd
        pluginConfig:
          dynamicPlugins:
            frontend:
              roadiehq.backstage-plugin-argo-cd:
                mountPoints:
                  - mountPoint: entity.page.overview/cards
                    importName: EntityArgoCDOverviewCard
                    config:
                      layout:
                        gridColumnEnd:
                          lg: "span 8"
                          xs: "span 12"
                      if:
                        allOf:
                          - isArgocdAvailable
                  - mountPoint: entity.page.cd/cards
                    importName: EntityArgoCDHistoryCard
                    config:
                      layout:
                        gridColumn: "1 / -1"
                      if:
                        allOf:
                          - isArgocdAvailable
      - disabled: false
        package: ./dynamic-plugins/dist/roadiehq-scaffolder-backend-argocd-dynamic
        pluginConfig:
          argocd:
            appLocatorMethods:
            - instances:
              - name: main
                url: {{ printf "${%s}" .Values.rhdhOperator.secretRef.argocd.url }}
                username: {{ printf "${%s}" .Values.rhdhOperator.secretRef.argocd.username }}
                password: {{ printf "${%s}" .Values.rhdhOperator.secretRef.argocd.password }}
              type: config
  {{- end }}
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.orchestrator_backend.package }}"
        integrity: {{ .Values.rhdhPlugins.orchestrator_backend.integrity }}
        pluginConfig:
          orchestrator:
            dataIndexService:
              url: http://sonataflow-platform-data-index-service.{{- include "get-workflow-namespace" . }}
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.orchestrator.package }}"
        integrity: {{ .Values.rhdhPlugins.orchestrator.integrity }}
        pluginConfig:
          dynamicPlugins:
            frontend:
              janus-idp.backstage-plugin-orchestrator:
                appIcons:
                  - importName: OrchestratorIcon
                    module: OrchestratorPlugin
                    name: orchestratorIcon
                dynamicRoutes:
                  - importName: OrchestratorPage
                    menuItem:
                      icon: orchestratorIcon
                      text: Orchestrator
                    module: OrchestratorPlugin
                    path: /orchestrator
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.notifications.package }}"
        integrity: {{ .Values.rhdhPlugins.notifications.integrity }}
        pluginConfig:
          dynamicPlugins:
            frontend:
              redhat.plugin-notifications:
                dynamicRoutes:
                  - importName: NotificationsPage
                    menuItem:
                      config:
                        props:
                          titleCounterEnabled: true
                          webNotificationsEnabled: false
                      importName: NotificationsSidebarItem
                    path: /notifications
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.signals.package }}"
        integrity: {{ .Values.rhdhPlugins.signals.integrity }}
        pluginConfig:
          dynamicPlugins:
            frontend:
              redhat.plugin-signals: {}
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.notifications_backend.package }}"
        integrity: {{ .Values.rhdhPlugins.notifications_backend.integrity }}
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.signals_backend.package }}"
        integrity: {{ .Values.rhdhPlugins.signals_backend.integrity }}
      - disabled: false
        package: "{{ .Values.rhdhPlugins.scope }}/{{ .Values.rhdhPlugins.notifications_email.package }}"
        integrity: {{ .Values.rhdhPlugins.notifications_email.integrity }}
        pluginConfig:
          notifications:
             processors:
               email:
                 transportConfig:
                   transport: smtp
                   hostname: my-smtp-server
                   port: 587
                   secure: false
                   username: my-username
                   password: my-password
                 sender: sender@mycompany.com
                 replyTo: no-reply@mycompany.com
                 broadcastConfig:
                   receiver: users
                 concurrencyLimit: 10
                 cache:
                   ttl:
                     days: 1        
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config-rhdh-auth
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
data:
  app-config-auth.gh.yaml: |
  {{- if and .Values.rhdhOperator.secretRef.github.token (dig "data" .Values.rhdhOperator.secretRef.github.token "" $secret) }}
    integrations:
      github:
        - host: github.com
          token: {{ printf "${%s}" .Values.rhdhOperator.secretRef.github.token }}
    auth:
      environment: development
  {{- end }}
      providers:
  {{- if and (and .Values.rhdhOperator.secretRef.github.clientId (dig "data" .Values.rhdhOperator.secretRef.github.clientId "" $secret) )
             (and .Values.rhdhOperator.secretRef.github.clientSecret  (dig "data" .Values.rhdhOperator.secretRef.github.clientSecret "" $secret  ) ) }}
        github:
          development:
            clientId: {{ printf "${%s}" .Values.rhdhOperator.secretRef.github.clientId }}
            clientSecret: {{ printf "${%s}" .Values.rhdhOperator.secretRef.github.clientSecret }}
  {{- end }}
  {{- if .Values.rhdhOperator.enableGuestProvider }}
        guest:
          dangerouslyAllowOutsideDevelopment: true
  {{- end }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config-rhdh-catalog
  namespace: {{ .Values.rhdhOperator.subscription.namespace }}
data:
  "app-config-catalog.yaml": |
    catalog:
      rules:
        - allow:
            [
              Component,
              System,
              Group,
              Resource,
              Location,
              Template,
              API,
              User,
              Domain,
            ]
      locations:
        - type: url
          target: https://github.com/parodos-dev/orchestrator-helm-chart/blob/staging-rc/resources/users.yaml
        - type: url
          target: https://github.com/parodos-dev/workflow-software-templates/blob/main/entities/workflow-resources.yaml
        - type: url
          target: https://github.com/parodos-dev/workflow-software-templates/blob/main/scaffolder-templates/basic-workflow/template.yaml
        - type: url
          target: https://github.com/parodos-dev/workflow-software-templates/blob/main/scaffolder-templates/complex-assessment-workflow/template.yaml
{{- end }}
{{- $unmanagedNamespaceExists := include "unmanaged-resource-exists" (list "rhdh.redhat.com/v1alpha1" "Backstage" .Values.rhdhOperator.subscription.namespace "backstage" .Release.Name .Capabilities.APIVersions ) }}
{{- if eq $unmanagedNamespaceExists "false" }}
  {{- include "manage-cr-lifecycle-on-action" (dict "release" .Release "apiGroup" "rhdh.redhat.com" "groupVersion" "v1alpha1" "kind" "Backstage" "kinds" "backstages" "targetNamespace" .Values.rhdhOperator.subscription.namespace "resourceName" "backstage" "isEnabled" .Values.rhdhOperator.enabled "hasCRDInstalled" (.Capabilities.APIVersions.Has "rhdh.redhat.com/v1alpha1/Backstage") "manifest" (include "backstage-manifest" . | b64enc )) }}
{{- end }}
